
.admin__main {
    background-color: var(--water);
    overflow: auto;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns:  auto;
    grid-template-areas:
          "menu"
          "forms";
}

.admin__main--menu {
    grid-area: menu;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    border-bottom: 1px solid var(--dark);
}

.admin__main--forms {
    grid-area: forms;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;
}
.admin__txt {
    font-family: "Segoe UI Semibold", sans-serif;
    font-size: 1rem;
    color: var(--dark2);
}

.admin__uptxt {
    text-transform: uppercase;
}

.admin__menu--btn {
    font-family: "Segoe UI Semibold", sans-serif;
    /*text-transform: uppercase;*/
    font-size: 1rem;
    background-color: var(--water);
    color: var(--dark);
    padding: 5px 10px;
    cursor: pointer;
}
.btn--active {
    color: white;
}
.btn--special {
    background-color: #a9bfd9;
}

.admin__msg {
    min-height: 33px;
    /*border: solid 1px;*/
}

.admin__msg--success {
    border: solid 1px lawngreen;
    color: lawngreen;
    padding: 5px;
}
.admin__msg--error {
    border: solid 1px darkred;
    color: darkred;
    padding: 5px;
}


th, tr, td {
    border-collapse: collapse;
    border: 1px solid var(--dark);
}

tr {
    background-color: #a9bfd9;
}

td {
    background-color: #9faebf;
    padding: 5px;
}

.tb {
    margin: 20px 5px;
}
