
.txt-right {
    text-align: right;
}

.txt-center {
    text-align: center;
}

.txt-semibold {
    font-family: "Segoe UI Semibold", sans-serif;
}

.txt-regular {
    font-family: "Segoe UI Regular", sans-serif;
}

.txt-violet{
    color: var(--violet01);
}

.txt-water{
    color: var(--water);
}
.txt-blue{
    color: var(--blue);
}


.txt-gray02 {
    color: var(--gray02);
}

.bgd-gray {
    background: var(--gray01);
}

.paint-blue {
    background: var(--blue);
}
.paint-violet01 {
    background: var(--violet01);
}
.paint-gray01 {
    background: var(--gray01);
}