@import "styling/contact.css";
@import "styling/formatting.css";
@import "styling/coloring.css";

/* ------ colors ------ */
:root {
  --white: #ffffff;
  --gray01: #F9F9F9;
  --gray02: #C2C2C2;
  --gray03: #9A9A9A;
  --dark: #3b3b3b;
  --dark2: #242424;
  --blue: #00AFD9;
  --water: #8095ac;
  --violet01: #2E3487;
  --violet02: #171A44;
  --darkblue: #001544;
}


/* ------ colors ------ */

.txt-gray03 {
  color: var(--gray03);
}
.txt-violet {
  color: var(--violet01);
}
.txt-dark {
  color: var(--dark);
}
.paint-violet01 {
  background: var(--violet01);
}
.paint-gray01 {
  background: var(--gray01);
}

/* ------ colors ------ */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--gray01);
}

.container {
  display: grid;
  grid-template-columns: 200px auto 30px;
  grid-template-rows: 50px auto 50px;
  grid-template-areas:
    "sidebar topbar topbar"
    "sidebar main main"
    "sidebar footer footer";

  width: 100%;
}

.topbar {
  grid-area: topbar;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "alerts restore";

  padding-top: 25px;
  border-bottom: var(--gray02) solid 1px;
}

.main {
  grid-area: main;
  display: grid;
  grid-template: 70px / auto;
  grid-template-areas:
    "buttons"
    "content";

  padding: 5px 10px;
}

.main-content {
  grid-area: content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content-3x {
  grid-area: content;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-areas: "mrg list mrg2";
}

.content-srodek {
  grid-area: list;
  width: 100%;
}

.sidebar {
  /*position: fixed;*/
  /*background: var(--darkblue);*/
  grid-area: sidebar;
  padding: 20px 20px 50px 20px;
  display: flex;
  flex-direction: column;
}

.footer {
  grid-area: footer;
  text-align: center;
  border-top: var(--gray02) solid 1px;
}
/* ----- Smaller elements ------ */

/* ------ Btn ------ */

.buttons-container {
  grid-area: buttons;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  border: none;
  background: none;
  cursor: pointer;
}

.btn-small {
  font-family: "Segoe UI Semibold", sans-serif;
  color: var(--gray02);
  font-size: 14px;
  text-transform: lowercase;
  cursor: pointer;
}
.btn-small:hover {
  color: var(--blue);
}

.btn:active {
  transform: scale(0.98);
  color: var(--blue);
}

.menu-btn {
  font-family: "Segoe UI Semibold", "Segoe UI", serif;
  font-size: 17px;
  /*display: inline-block;*/
  padding: 20px 0 10px 5px;
  text-align: right;
  text-transform: uppercase;
  /*text-decoration: none;*/
}

.menu-active {
  color: var(--blue);
}
.menu-inactive {
  color: var(--gray02);
}

.btn-color {
  color: var(--gray01);
  font-family: "Segoe UI", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 5px;
  background: var(--blue);
  /*background-image: linear-gradient(var(--blue), var(--water));*/
  padding: 15px 40px;
  text-align: center;
  display: flex;
  align-items: center;
  margin: auto 5px;
}

.headline-color {
  color: var(--gray01);
  font-family: "Segoe UI Semibold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 5px 5px 0 0;
  /*background-image: linear-gradient(var(--gray02), var(--gray03));*/
  background-color: var(--darkblue);
  padding: 8px 40px;
  text-align: center;
}

.element {
  /*height: 180px;*/
  height: 370px;
  width: 180px;
  margin: 5px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 6px 0 #C2C2C2;
}

.table {
  height: 370px;
  width: 560px;
  margin: 5px;
  background: white;
  border-radius: 5px;

  display: grid;
  grid: 40px auto / auto 100px;
  grid-template-areas:
    "title edit"
    "content stats";
}

/*---------------------*/

.shadow {
  box-shadow: 0 0 4px 0 #C2C2C2;
}

.white-space {
  justify-self: stretch;
  padding: 15px 30px;
  background: white;
  box-shadow: 0 0 4px 0 var(--gray02);
}

.no-contact {
  border-radius: 5px;
  margin: 5px;
}

.top-contact {
  border-radius: 0 0 5px 5px;
}

.top-contact-mrg {
  margin: 0 5px 10px 5px;
}

.width-700 {
  max-width: 750px;
  min-width: 500px;
}

/*------------------*/


.obj-details {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  line-height: 28px;
}

.input {
  max-width: 700px;
  width: 100%;
  font-size: 16px;
  text-rendering: auto;
  text-align: center;
  background: none;
  padding: 8px 10px 0 10px;
  margin: 5px 0 15px 0;
  border: none;
  border-bottom: 1px var(--gray02) solid;
}

 /*---- icons ----*/

/*.icon {*/
/*  position: relative;*/
/*}*/

/*.icon:hover {*/
/*  cursor: pointer;*/
/*  color: var(--blue);*/
/*}*/

.icon-container {
  display: flex;
  justify-content: flex-end;
}

.icon-overlay {
  position: absolute;
  opacity: 0;
}

.icon-container:hover .icon-overlay{
  cursor: pointer;
  opacity: 1;
}
/*********************************************/
########################

.topbar-alert {
  font-family: "Segoe UI Regular", "Segoe UI", serif;
  color: var(--blue);
  font-weight: bold;
  grid-area: alerts;
}

.topbar-restore {
  text-align: right;
  grid-area: restore;
}

.sidebar-logo {
  margin: 10px 0 30px 0;
  width: 150px;
}

.logout {
  margin-top: 80px;
}


.gear {
  width: 15px;
  margin: 0 5px 0 5px;
}

.edit {
  justify-self: end;
  grid-area: edit;
}

.icon-plus {
  height: 15px;
  margin-right: 5px;
}

.element-head {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin: 7px 10px;
}

.element-side-bgd {
  grid-row: 1 / 3;
  grid-column: 2 / 3;
  background-image: linear-gradient(#2E3487, #171A44);
  border-radius: 5px;
}

.element-type {
  font-family: "Segoe UI Regular", "Segoe UI", serif;
  color: var(--dark);
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
}

.element-title {
  font-family: "Segoe UI Regular", "Segoe UI", serif;
  margin-left: 10px;
  color: var(--violet01)
}

.element-stats {
  grid-area: stats;
  font-size: 16px;
}

.stats-simple {
  color: var(--violet01);
  text-align: right;
}

.stats-complex {
  color: var(--gray01);
  text-align: center;
}

.stats-title {
  font-family: "Segoe UI Regular", "Segoe UI", sans-serif;
  font-size: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--gray01);
}

.sensors-new {
  min-width: 500px;
  max-width: 800px;
  grid-area: new;
  /*background: cornflowerblue;*/
}

.object-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.object {
  min-width: 180px;
  min-height: 80px;
  margin: 5px;
  padding: 5px 15px;
  text-decoration: none;
  color: var(--dark);
  line-height: 29px;
  border-radius: 5px;
  border: white solid 1px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pointer {
  cursor: pointer;
}

.assigned-grid {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-areas: "objname obj-remove";
}

.assigned {
  display: flex;
  margin: 5px 0 5px 5px;
  border: white solid 1px;
  border-radius: 5px;
}

.assigned-txt-half {
  min-width: 150px;
  min-height: 80px;
  text-decoration: none;
  line-height: 29px;
  padding: 5px 15px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.assigned-txt-half:hover{
  color: var(--blue);
  border: var(--blue) solid 1px;
}

.assigned-rem-half {
  width:50px;
  height: auto;
  text-decoration: none;
  justify-self: center;
  border-radius: 0 5px 5px 0;
  /*border: white solid 1px;*/
  border-left: var(--gray01) solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.i-remove {
 height: 20px;
}
.i-remove:hover{
  transform: scale(0.90);
}

.alerts {
  min-height: 0;
  margin-bottom: 10px;
}

.alert-txt {
  margin: 0 15px;
}

.obj-free {
  font-family: "Segoe UI Semibold", sans-serif;
  color: var(--violet01);
}

.obj-owned {
  border: var(--gray03) solid 1px;
}

.object:hover {
  cursor: pointer;
  color: var(--blue);
  border: var(--blue) solid 1px;
}

.obj-active {
  color: white;
  background: var(--gray02);
  border: var(--violet01) solid 1px;
  margin-bottom: 0;
}

.overlay-bgd {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: var(--gray01);
  /*overflow-x: hidden;*/
  display: grid;
  grid-template: 1fr 2fr 1fr / 1fr 2fr 1fr;
}

.login-area {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ---- Test --- */
.test-btn {
  width: 300px;
  height: 150px;
  font-size: 60px;
}
.test-area {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  text-align: center;
}
/* ---- Test --- */