* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 180px auto 30px;
  grid-template-rows: 50px auto 50px;
  grid-template-areas:
    "sidebar topbar topbar"
    "sidebar main main"
    "sidebar footer footer";

  width: 100%;
  height: 100vh;

  border: brown solid;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #F9F9F9;
}

.topbar {
  grid-area: topbar;
  background: orange;
}

.main {
  grid-area: main;
  background: cornflowerblue;
}

.sidebar {
  grid-area: sidebar;
  background: aqua;
  padding: 20px 20px 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
  grid-area: footer;
  background: blueviolet;
}
/* ----- Smaller elements ------ */

.element {
  background: bisque;
}